
:root{
    ----button-bg-hover: #ba4949;
    --border-bottom-header: #ecc9c9;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ba4949;
    height: 100vh;
    transition: background-color 0.5s ease-in-out 0s;
}
i{
    width: auto;
    height: auto;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem ;
    border-bottom: 2px solid var(--border-bottom-header);
    transition: border-bottom 0.5s ease-in-out 0s;

}
.header-logo-link{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header-title{
    font-size: 1.1rem;
    color: white;
    margin-left: .3rem;
    font-weight: 900;
    font-family: Roboto;
}
.header-title-report,.header-title-settings, .header-title-login{
    color: white;
    font-size: .7rem;
    font-weight: 900;
    margin-left: .2rem;
    font-family: Roboto;
}
.header-logo,.header-sections{
    display: flex;
    align-items: center;
}
.header-sections{
    gap: 1.2rem;
}
.header-report a,.header-settings a,.header-login a{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgba(235,235,235,0.3);
    padding: .3rem .4rem;
}
.header-item{
    border-radius: 4px;
}
.header-item:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.2);
}

.header-logo i{
    font-size: 1.6rem;
}

.timer{
    margin-top: 1rem;
    padding: 1rem;
}
.timer-container{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin: auto;
    max-width: 480px;
    
}
.timer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.timer-pomo{
    color: white;
    font-size: .6rem;
    font-family: sans-serif;
}
/* .timer-pomo:hover{
    cursor: pointer;
    background-color: rgba(100,100,100,.15);
    padding: .4rem;
    border-radius:6px;

} */
.timer-pomo:hover{
    cursor: pointer;
}
.timer-pomo-active{
    padding: .4rem;
    background-color: rgba(0,0,0,0.2);
    border-radius:6px;
}
.timer-center{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 900;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1rem 0;
}
.timer-bottom{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.timer-button {
    position: relative;
    margin: auto;
    padding: 14px 19px;
    transition: all 0.2s ease;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: center;

}
.timer-button:hover{
    color: var(----button-bg-hover);
}
.timer-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0.1);
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
}
.timer-button span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}
.timer-button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #ffffff;
    stroke-width: 2;
    transform: translateX(-7px);
    transition: all 0.3s ease;
}
.timer-button:hover:before{
    width: 100%;
    background: #ffffff;
}
.timer-button:hover svg {
    transform: translateX(0);
    stroke: var(----button-bg-hover)
}
.timer-button:active {
    transform: scale(0.96);
}
.timer-next-button{
    position: absolute;
    left: calc(80%);
    font-size: 1.6rem;
    opacity: 0;
    transition: opacity .5s ease-in;
}
.timer-next-button:hover{
    cursor: pointer;
}

.info{
    padding: 1rem;
    padding-top: 0;
    max-width: 480px;
    margin: auto;
}
.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: .5rem;
}
.info-pomo-count{
    color: var(--border-bottom-header);
    font-size: 1.2rem;
}
.info-pomo-count:hover{
    cursor: pointer;
}

.info-pomo-advice{  
    color: rgb(255, 255, 255);
}
.task{
    padding: 1rem;
    max-width: 480px;
    margin: auto;
    padding-bottom: 0;
}
.task-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.task-top-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.729);
}
.task-top-container h3{
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    padding-bottom: .3rem;
}
.task-button{
    display: flex;
    padding: .4rem .7rem;
    margin-bottom: .5rem;
    background-color: rgba(255, 255, 255, 0.393);
}
.task-button i{
    font-size: 1.2rem;
}
.task-add{
    display: flex;
    justify-content: center;
    gap: .4rem;
    width: 100%;
    padding: .8rem;
    border-radius: 6px;
    border: 3px dashed rgba(255, 255, 255, 0.2);
}
.task-add i , .task-add p{
    color: rgba(255, 255, 255, 0.594);
}
.task-add p{
    font-family: Roboto;
    font-weight: 900;
}

@media only screen and (min-width: 768px){
    .timer{
        padding: 1.2rem;
    } 
    .timer-container{
    padding: 1.2rem;
    }
    .timer-pomo-active{
        padding: .5rem;
    }
    .timer-pomo{
        font-size: .65rem;
    }
    .timer-center{
        font-size: 7rem;
    }
    .timer-button{
        padding: 25px 28px;
    }
    .timer-button:before{
        height: 65px;
        width: 60px;
    }
    .timer-button span{
        font-size: 20px;
    }
    .timer-button svg{
        stroke-width: 3;
    }
    .timer-button:active{
        transform: scale(.94);
    }
    .header-sections h2{
        font-size: .75rem;
    }

}
